.signup-form {
    max-width: 400px;
   margin : 10px auto;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.842);
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .signup-form h2 {
    text-align: center;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input[type='text'],
  input[type='email'],
  input[type='password'] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  button[type='submit'] {
    display: block;
    width: 100%;
    padding: 10px;
    background-color:rgba(165, 42, 42);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 20px;
    font-size: large;
  }
  
  button[type='submit']:hover {
    background-color: rgba(0, 0, 0, 0.272);
  }
  