

  @import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

  
  @import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Mooli&family=Sofia+Sans+Condensed:ital,wght@1,300&display=swap');



body {
    font-family: 'Merriweather';
    background-color: rgba(165, 42, 42);
    margin: 0;
    padding: 5px;
    
    
  }
  
  .container {
    max-width: 400px;
    margin: 20px auto;
    background-color:white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    color: #480F0F;
  }
  
  h1 {
    text-align: center;
    color: #333;
  }
  
  .input-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .todo-input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .add-button {
    background-color:brown;
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-family: 'Mooli';
  }
  
  .add-button:hover {
    background-color: rgba(165, 42, 42, 0.489);
  }
  
  .todo-list {
    list-style: none;
    padding: 20px;
  }
  
  .todo-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:white;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .todo-item.completed {
    background-color: wheat;
    border: 1px solid rgba(245, 222, 179, 0.735);
  }
  
  .todo-item input[type="checkbox"] {
    margin-right: 10px;
    background-color: #fff;
  }
  
  .todo-title {
    flex: 1;
  }
  
  .delete-button {
    background-color:rgb(92, 6, 6);
    color: #fff;
    border: none;
    border-radius: 20px;
    padding: 7px 15px;
    cursor: pointer;
    font-family: 'Mooli';
  }
  
  .delete-button:hover {
    background-color: rgba(92, 6, 6, 0.509);
  }
  .container h1{
    font-family: 'Mooli';
    font-weight: bolder;
  }
  